<h1>Booking <%= @booking.id %></h1>
<%= render partial: "shared/flight_details", locals: {flight: @booking.flight, hide_time: false} %>
<h2>Passengers</h2>
<% @booking.passengers.each do |passenger| %>
  <div>
    <p>Name: <%= passenger.name %></p>
    <p>Email: <%= passenger.email %></p>
  </div>
  <br>
<% end %>